<div class="container mt-4">
<h1>New Celebrity</h1>
  <%= simple_form_for(@celeb) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :service %>
    <%= f.input :bio %>
    <%= f.input :photo_url %>
    <%= f.input :price %>
    <%= f.input :instagram_url %>
    <%= f.submit 'Add Sellebrity', class: "btn btn-flat"%>
  <% end %>
</div>
