<%= render "layouts/navbar"%>


<div class="container text-center border">
  <h1>Celebrity Show Page</h1>
  <div class="card text-center">
    <h2><%= @celeb.first_name %> <%= @celeb.last_name %></h2>
    <p><%= @celeb.service %></p>
    <p><%= @celeb.bio %></p>
    <img class="card-img-top" src="<%= @celeb.photo_url %>" alt="Card image cap">
    <p><%= @celeb.price %>  £/h</p>

  </div>
<div class='bottom'>
 <button><%= link_to "Book this celebrity", new_celeb_booking_path(@celeb) %></button>
  <%= render "layouts/footer"%>
</div>
</div>
