<div class="container">
  <div class="bio-card">
    <div class="inner-card">
      <h1><%= @celeb.first_name %> <%= @celeb.last_name %></h1>
        <div class="inner-row">
          <img class="bio-image" src="<%= @celeb.photo_url %>" alt="Card image cap">
            <div class="bio-text position-relative">
              <h2>Bio</h2>
              <p><%= @celeb.bio %></p>
              <%= link_to @celeb.instagram_url, target: '_blank' do %>
                <i class="fab fa-instagram text-primary h3"></i>
              <% end %>
              <h2>Service</h2>
              <p><%= @celeb.service %></p>
              <h2>Price</h2>
              <p><%= @celeb.price %>£/h</p>
              <a><%= link_to "Book this celebrity", new_celeb_booking_path(@celeb), class: "btn btn-flat bottom-0 end-0 position-absolute" %>
              </a>
            </div>

        </div>
    </div>
  </div>
</div>
