<div class="container mt-4 mb-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-5">My Bookings</h1>
  </div>
  <% if @bookings.present? %>
    <% @bookings.each do |celeb| %>
      <div class="rows bg-white">
        <div class="card-product" >
          <img src="<%=celeb.photo_url%>" width="500" height="600"/>
          <div class="card-product-infos">
            <h2><%= celeb.first_name %> <%= celeb.last_name %></h2>
            <div class="d-flex justify-content-between">
               <div class="w-80">
                  <% celeb.service.split(",").each do |word| %>
                    <div class= "celebservice">
                      <p><%= word.gsub("and", "").strip.capitalize %></p>
                    </div>
                  <% end %>
                </div>
                <div class="celebprice">
                  <p><strong><%= celeb.price %></strong>£/h</p>
                </div>
            </div>
          </div>
        </div>
        <div class="column">
          <% celeb.bookings.each do |booking| %>
            <div class="booking">
              <div class="requests">
                <div class="request-start">
                  <p><%=booking.booking_date.strftime("%m/%d/%Y") %></p>  <p>At: <%=booking.booking_date.strftime("%I:%M%p") %></p>
                </div>
                <div class="request-end">
                  <p>Duration: <%=booking.duration%> hours</p>
                </div>
              </div>
              <div class="description">
                <p>Message: <%=booking.description%></p>
              </div>
            </div>
            <div class="book-again new-css">
              <a><%= link_to "Book this celebrity again!", new_celeb_booking_path(booking.celeb), class: "btn btn-flat center"%></a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="m-5">
      <h1>Wow! You have no bookings.. Go make one.</h1>
      <a><%= link_to "Book your first celebrity!", celebs_path, class: "btn btn-flat center"%></a>
    </div>
  <% end %>
</div>
