<div class="container">
  <div class="container-booking">
  <h1 class="m-5 text-center">My Bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="cards-booking">
        <div class="card-info-booking">
          <img src=<%=booking.celeb.photo_url%>>
          <div class="cards-book">
            <h2><%= booking.celeb.first_name %> <%= booking.celeb.last_name %></h2>
            <p> Booking date: <%= booking.booking_date %></p>
            <p> Booking duration: <strong><%= booking.duration %></strong> hours</p>
            <p> Booking description: <%= booking.description %></p>
          </div>
        </div>
        <a id="ed-button" href="#" class="btn btn-primary">Edit Booking</a>
      </div>
    <% end %>
  </div>
</div>
