<div class="container">
  <div class="container-booking">
  <h1 class="m-5 text-center">My Bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="cards-booking">
        <div class="card-info-booking">
          <img src=<%=booking.celeb.photo_url%>>
          <div class="cards-book">
            <h2><%= booking.celeb.first_name %> <%= booking.celeb.last_name %></h2>
            <h5> Date </h5>
            <p><%= booking.booking_date %></p>
            <h5> Duration</h5>
            <p> <%= booking.duration %> hours</p>
            <h5> Description </h5>
            <p><%= booking.description %></p>
          </div>
        </div>
            <a> <%= link_to "Cancel Booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-dark btn-outline-danger bottom-1 end-1 position-absolute"%></a>
      </div>
    <% end %>
  </div>
</div>
