<div class="container mt-4 mb-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-5">My Celebrities</h1>
    <% if @celebs.present? %>
    <a><%= link_to "New Celebrity", new_celeb_path, class: "btn btn-flat"%></a>
    <% end %>
  </div>

  <% if @celebs.present? %>
    <% @celebs.each do |celeb| %>
    <div class="rows bg-white">
      <%= link_to celeb_path(celeb), style: "text-decoration: none; color: black;" do %>
      <div class="card-product" >
        <img src="<%=celeb.photo_url%>" width="500" height="600"/>
        <div class="card-product-infos">
          <h2><%= celeb.first_name %> <%= celeb.last_name %></h2>
              <div class="d-flex justify-content-between">
                <div class="w-80">
                  <% celeb.service.split(",").each do |word| %>
                    <div class= "celebservice">
                      <p><%= word.gsub("and", "").strip.capitalize %></p>
                    </div>
                  <% end %>
                </div>
                <div class="celebprice">
                  <p><strong><%= celeb.price %></strong>£/h</p>
                </div>
              </div>
        </div>
      </div>
      <% end %>
      <%= link_to celeb_path(celeb), data: {turbo_method: :delete} do %>
            <i class="fa-solid fa-trash relative"></i>
      <% end %>
      <% bookings = Booking.where(celeb: celeb)  %>
        <div class="column">
          <% unless bookings == [] %>
            <% bookings.each do |booking| %>
                <div class="booking">
                  <div class="requests rounded-top">
                    <div class="request-start">
                      <p>From: <%=booking.user.first_name.capitalize%></p>
                      <p>On: <%=booking.booking_date.strftime("%m/%d/%Y") %> At: <%=booking.booking_date.strftime("%I:%M%p") %> For:<%=booking.duration%> hours</p>
                    </div>
                    <div class="request-end">
                      <% unless booking.accepted %>
                        <a><%= link_to "Accept", accept_path(booking), data: {turbo_method: :post}, class: "btn btn-flat end-0" %></a>
                        <a><%= link_to "Decline", decline_path(booking), data: {turbo_method: :delete},class: "btn btn-flat bg-secondary end-0" %></a>
                      <% else %>
                        <p> <strong>Booking Accepted!</strong></p>
                      <% end %>
                    </div>
                  </div>
                  <div class="description rounded-bottom">
                    <p>Description: <%=booking.description%></p>
                  </div>
                </div>
            <% end %>
          <% else %>
            <div class="unpopular">
              <h1 class="no-bookings"><%="#{celeb.first_name} Just isn't very popular.."%></h1>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="m-5">
      <h1>Wow! You have no celebrities.. Go make one.</h1>
       <a><%= link_to "New Celebrity", new_celeb_path, class: "btn btn-flat"%></a>
    </div>
  <% end %>
</div>
