  <div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.usmagazine.com/wp-content/uploads/2022/02/Everything-to-Know-About-the-2022-Oscars.jpg?w=1600&quality=86&strip=all);">
    <div class="container">
      <h1>Sellebrity</h1>
      <p>Spend time with your favorite celebrities... </p>
      <%= simple_form_for :search, url: celebs_path, method: :get,  html: { class: 'form-inline' } do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container position-relative">
    <div class="cards">
      <% @featured.each do |celeb| %>
          <%= link_to celeb_path(celeb), style: "text-decoration: none; color: black;" do %>
            <div class="card-product" >
              <img src="<%=celeb.photo_url%>" width="500" height="600"/>
              <div class="card-product-infos">
                <h2><%= celeb.first_name %> <%= celeb.last_name %></h2>
                <div class="d-flex justify-content-between">
                  <p ><%= celeb.service %></p>
                  <p><strong><%= celeb.price %></strong>£/h</p>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
